html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #fff;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 90vw;
  max-height: 80vh;
  height: auto;
  width: auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #151514;
    color: #fff;
  }
}
